@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Quicksand', sans-serif;
}


body{

    min-height:100vh;

    background:
    linear-gradient(
        180deg,
        #dff7ff,
        #b8e8ff
    );

    display:flex;
    justify-content:center;
    align-items:center;

    padding:30px;

}



/* cartão principal */

.conteudo-principal{

    background:#ffffff;

    width:600px;

    padding:40px;

    border-radius:35px;

    box-shadow:
    0 10px 30px rgba(0,150,255,0.25);

    border:4px solid #bde7ff;

}



/* título */

.titulo-principal{

    text-align:center;

    color:#2196f3;

    font-size:36px;

    margin-bottom:35px;

}



/* espaço dos botões */

.botoes{

    display:flex;

    flex-direction:column;

    gap:20px;

}



/* botões */

details{

    background:#eaf8ff;

    border-radius:25px;

    overflow:hidden;

    border:3px solid #a9dcff;

}



summary{

    cursor:pointer;

    list-style:none;

    padding:20px;

    background:#87cefa;

    color:white;

    font-size:22px;

    font-weight:bold;

    border-radius:20px;

    transition:.3s;

}



summary:hover{

    background:#5bbdf8;

    transform:scale(1.03);

}



summary::after{

    content:" 💙";

    float:right;

}



/* conteúdo aberto */

.conteudo{

    background:#f7fcff;

    padding:25px;

    color:#4a6b80;

    line-height:1.7;

}



.conteudo h3{

    color:#2196f3;

    text-align:center;

    margin-bottom:15px;

}



.conteudo h4{

    color:#42a5f5;

    margin-top:15px;

}


.conteudo li{

    margin-left:20px;

}




/* decoração */

body::before{

    content:"☁️ ☁️";

    position:absolute;

    top:40px;

    left:50px;

    font-size:60px;

    opacity:.8;

}



body::after{

    content:"✨ 💙 ✨";

    position:absolute;

    bottom:40px;

    right:50px;

    font-size:45px;

}
